* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p {
    display: block;
    width: max-content;
}
.color-pallete .item {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
    display: grid;
    gap: 13px;
}
.color-pallete .item:hover {
    transform: scale(1.1);
}
